@use "../base";
@use "../sections/mixins.scss";

.main{
border:2px solid grey;
width:80%;
margin-top:5em;
border-radius: 5px;

}
    
button{
    padding:.7em 1.8em;
    border-radius: 5px;
    border:none;
    width:20%;
    margin:.2em;
    background:#191919;
    color:#A160FB;
    box-shadow:.5em .5em 2em grey;
    
    
}

.numerics{
    margin:3em 2em;
    
}

.output{
    padding-right:3em;
    display:flex;
    justify-content: space-around;
    align-items:flex-end;
    flex-direction:column;
    background:blue;
    width:100%;
    border:3px solid grey;
    
    border-radius:1em ;
    
    
    .first-part{
        font-size:2rem;
        color:yellow;
    }
    

    .second-part{
        font-size:3rem;
        color:orange;
    }
}

@media (max-width: 414px) {
    .container {
      width: 100%;
    }
}