@use "../base";
@use "../sections/mixins.scss";

.main{
box-shadow:2px 2px 2px grey;
width:80%;

}
    
button{
    @include mixins(center,center,row, wrap);
    display:flex;

    // gap:2em;
    padding:.7em 1.8em;
    border-radius: 5px;
    border:none;
    width:20%;
    margin:.2em;
    // box-shadow:1em 1em .3em grey;
    background:#191919;
    color:#A160FB;
    
    
}

.numerics{
    margin:3em 2em;
    
}

.output{
    padding-right:30em;
    display:flex;
    justify-content: space-around;
    align-items:flex-end;
    flex-direction:column;
    // background:blue;
    
    
    .first-part{
        font-size:2rem;
        color:yellow;
    }
    

    .second-part{
        font-size:3rem;
        color:blue;
    }
}
